<section class="h-100 bg-white">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                alt="Sample photo" class="img-fluid"
                                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-5 text-uppercase">Customer registration </h3>
                                <form [formGroup]="registerForm" (ngSubmit)="save()">
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" formControlName="username"
                                                    class="form-control form-control-lg" placeholder=" ">
                                                <label class="form-label" for="form3Example1m">Username</label>
                                            </div>
                                            <div *ngIf="registerForm.get('username').touched">
                                                <div *ngIf="registerForm.hasError('required',['username'])"
                                                    class="error">
                                                    This field is required
                                                </div>
                                                <div *ngIf="registerForm.hasError('minlength',['username'])"
                                                    class="error">
                                                    Username it nhat 3 ki tu
                                                </div>
                                                <div *ngIf="registerForm.hasError('maxlength',['username'])"
                                                    class="error">
                                                    Username nhiều nhat 10 ki tu
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="password" formControlName="password"
                                                    class="form-control form-control-lg" placeholder="">
                                                <label class="form-label" for="form3Example1n">Password</label>
                                            </div>
                                            <div *ngIf="registerForm.get('password').touched">
                                                <div *ngIf="registerForm.hasError('required',['password'])"
                                                    class="error">
                                                    This field is required
                                                </div>
                                                <div *ngIf="registerForm.hasError('pattern',['password'])"
                                                    class="error">
                                                    Password khong hop le
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" formControlName="nameCustomer"
                                                    class="form-control form-control-lg">
                                                <label class="form-label" for="form3Example1m1">Name Customer</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" formControlName="phone"
                                                    class="form-control form-control-lg">
                                                <label class="form-label" for="form3Example1n1">Phone</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="text" formControlName="email" class="form-control form-control-lg">
                                        <label class="form-label" for="form3Example8">Email</label>

                                        <div *ngIf="registerForm.get('email').touched">
                                            <div *ngIf="registerForm.hasError('required',['email'])" class="error">
                                                This field is required
                                            </div>

                                            <div *ngIf="registerForm.hasError('pattern',['email'])" class="error">
                                                Email khong hop le
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                                        <h6 class="mb-0 me-4">Gender: </h6>

                                        <div class="form-check form-check-inline mb-0 me-4">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="femaleGender" value="option1" />
                                            <label class="form-check-label" for="femaleGender">Female</label>
                                        </div>

                                        <div class="form-check form-check-inline mb-0 me-4">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="maleGender" value="option2" />
                                            <label class="form-check-label" for="maleGender">Male</label>
                                        </div>

                                        <div class="form-check form-check-inline mb-0">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="otherGender" value="option3" />
                                            <label class="form-check-label" for="otherGender">Other</label>
                                        </div>

                                    </div> -->

                                    <!-- <div class="row">
                                        <div class="col-md-6 mb-4">

                                            <select class="select">
                                                <option value="1">State</option>
                                                <option value="2">Option 1</option>
                                                <option value="3">Option 2</option>
                                                <option value="4">Option 3</option>
                                            </select>

                                        </div>
                                        <div class="col-md-6 mb-4">

                                            <select class="select">
                                                <option value="1">City</option>
                                                <option value="2">Option 1</option>
                                                <option value="3">Option 2</option>
                                                <option value="4">Option 3</option>
                                            </select>

                                        </div>
                                    </div> -->

                                    <div class="form-outline mb-4">
                                        <input type="date" formControlName="birthday"
                                            class="form-control form-control-lg">
                                        <label class="form-label" for="form3Example9">Birthday</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="text" formControlName="adress"
                                            class="form-control form-control-lg">
                                        <label class="form-label" for="form3Example90">Address</label>
                                    </div>


                                    <div class="form-outline mb-4">
                                        <input type="date" formControlName="created"
                                            class="form-control  form-control-lg">
                                        <label class="form-label" for="form3Example97"> Date Created </label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="text" formControlName="identification" class="form-control">
                                        <label class="form-label" for="form3Example97">Identification </label>
                                    </div>

                                    <div class="d-flex justify-content-end pt-3">
                                        <input type="file" formControlName="profilePhoto" class="form-control"
                                            (change)="selectPhoto($event)">
                                        <td>&nbsp;</td>
                                        <input type="submit" value="Save" class="btn btn-warning btn-lg ms-2"
                                            [disabled]="registerForm.invalid">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>