<header>
    <div class="container-fluid bg-white text-white-50 py-2 px-0 d-none d-lg-block">
        <div class="row gx-0 align-items-center">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <small class="fa fa-phone-alt me-2"></small>
                    <small  style="color: rgb(47, 123, 205) ">+012 345 6789</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <small class="far fa-envelope-open me-2"></small>
                    <small style="color: rgb(47, 123, 205) ">info@example.com</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <small class="far fa-clock me-2"></small>
                    <small style="color: rgb(47, 123, 205) ">Mon - Fri : 09 AM - 09 PM</small>
                </div>
            </div>
            <div class="col-lg-5 text-end ">
                <div class="h-100 d-inline-flex ">
                    <a class="text-white-50 " href=""><i class="fab fa-facebook-f" id="apple"></i></a>
                    <a class="text-white-50 " href=""><i class="fab fa-twitter" id="twitter"></i></a>
                    <a class="text-white-50 " href=""><i class="fab fa-github-square github" id="github"></i></a>
                    <a class="text-white-50 " href=""><i class="fab fa-facebook-square facebook " id="facebook"></i></a>
                </div>
            </div>
        </div>
    </div>
</header> 